{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{dados.empresa}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{% static 'css/previsoes.css' %}" rel="stylesheet">
  </head>

  <body id="top">
    <div id="wrapper">
  		<div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content" class="topo">

		      <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-lg fixed-top">
		        <a class="navbar-brand js-scroll-trigger" href="http://localhost:8000/"><i class="fa fa-wallet"></i>  Sistema</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		          <span class="navbar-toggler-icon"></span>
		        </button>
		        <div class="collapse navbar-collapse" id="navbarSupportedContent">
		          <ul class="navbar-nav ml-auto">
		            <li class="nav-item active">
		              <form class="d-flex">
                    <input id="buscar_acao" class="form-control me-2" type="search" placeholder="Ex. ITUB4" aria-label="Search">
                    <a id="botao_buscar" onclick="window.location.href = 'http://localhost:8000/acoes/'+document.getElementById('buscar_acao').value+'/25';" href="#" class="btn btn-outline-info mx-2">Buscar</a>
                  </form>
		            </li>
		          </ul>
		        </div>

		      </nav>

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
              <button onclick="window.print()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Gerar relatório</button>
            </div>

            <!-- Linha dos cards -->
            <div class="row">

              <!-- Card da ação  -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Ação</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{dados.codigo}}</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-sticky-note fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Card do nome da ação  -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Empresa emissora</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{dados.empresa}}</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-building fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Card dos lucros -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Valor mais recente ({{dados.ultimo}})</div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">R$ {{dados.fechamentos.0}}</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Card do preço -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Valor médio (últimos {{dados.dias}} dias)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">R$ {{dados.media}}</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->

            <div class="row">

              <!-- Area Chart -->
              <div class="col-xl-8 col-lg-7">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Resumo dos últimos {{dados.dias}} dias</h6>
                    <div class="dropdown no-arrow">
                      <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p><i class="fa fa-clock"></i> Intervalo</p>
                      </a>
                      <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Selecionar intervalo:</div>
                        <a class="dropdown-item" href="http://localhost:8000/acoes/{{dados.codigo}}/7">7 dias</a>
                        <a class="dropdown-item" href="http://localhost:8000/acoes/{{dados.codigo}}/15">15 dias</a>
                        <a class="dropdown-item" href="http://localhost:8000/acoes/{{dados.codigo}}/30">30 dias</a>
                        <a class="dropdown-item" href="http://localhost:8000/acoes/{{dados.codigo}}/45">45 dias</a>
                        <a class="dropdown-item" href="http://localhost:8000/acoes/{{dados.codigo}}/60">60 dias</a>
                      </div>
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="myAreaChart"></canvas>
                      <p id="dados" class="d-none">{{dados.fechamentos}}</p>
                      {% for i in dados.datas  %}
                      <p class="datas d-none">{{i}}</p>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <!-- Pie Chart -->
              <div class="col-xl-4 col-lg-5">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Outras informações relevantes</h6>
                    
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                      <ul>
                        <li class="mb-3">
                          <span class="mr-2">
                            <strong>Volume mais recente: </strong>{{dados.volumes.0}}
                          </span>
                        </li>
                        <li class="mb-3">
                          <span class="mr-2">
                            <strong>Abertura: </strong>{{dados.aberturas.0}}
                          </span>
                        </li>
                        <li class="mb-3">
                          <span class="mr-2">
                            </i><strong>Alta: </strong>{{dados.altas.0}}
                          </span>
                        </li>
                        <li class="mb-3">
                          <span class="mr-2">
                            </i><strong>Baixa: </strong>{{dados.baixas.0}}
                          </span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <div class="footer bg-dark p-4">
          <p>Copyright &copy; Kennedy e Leandro S.A. 2020 - <script>let now = new Date; document.write(now.getFullYear());</script>. Todos os direitos reservados.</p>
        </div>

        <a id="back-to-top" href="#">^</a>

      </div>
    </div>


    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/grayscale.min.js' %}"></script>
    <script src="{% static 'js/previsoes.js' %}"></script>
    <script src="{% static 'js/chart.min.js' %}"></script>
    <script src="{% static 'js/dracarys.js' %}"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        jQuery("#back-to-top").hide();
        jQuery('a#back-to-top').click(function(){
          jQuery('body,html').animate({
            scrollTop: 0
          }, 800);
          return false;
        });
        jQuery(window).scroll(function(){
          if(jQuery(this).scrollTop()>400){
            jQuery('#back-to-top').fadeIn();
          } else {
            jQuery('#back-to-top').fadeOut();
          }
        });
      });
    </script>

  </body>

</html>