<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Yonkou Comparison</title>
  <link rel="stylesheet" type="text/css" href="https://www.chartjs.org/samples/latest/style.css">
  <script src="https://www.chartjs.org/dist/2.9.4/Chart.min.js"></script>
  <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
</head>
<body>
  {% for i in dados.labels %}
  <p class="labels">{{i}}</p>
  {% endfor %}
  <div class="content">
    <div class="wrapper">
      <canvas id="chart-0"></canvas>
    </div>
    <div id="chart-analyser" class="analyser"></div>
  </div>

  <script>
    var lbl = document.getElementsByClassName('labels');
    var presets = window.chartColors;
    var utils = Samples.utils;
    var inputs = {
      min: 30,
      max: 50,
      count: {{dados.dias}},
      decimals: 2,
      continuity: 1
    };

    function generateData() {
      return utils.numbers(inputs);
    }

    function generateLabels() {
      return utils.months({count: inputs.count});
    }

    utils.srand(42);

    var data = {
      labels: generateLabels(),
      datasets: [{
        backgroundColor: utils.transparentize(presets.red),
        borderColor: presets.red,
        data: generateData(),
        hidden: true,
        label: lbl[0].innerHTML
      }, {
        backgroundColor: utils.transparentize(presets.orange),
        borderColor: presets.orange,
        data: generateData(),
        label: 'D1',
        fill: '-1'
      }, {
        backgroundColor: utils.transparentize(presets.yellow),
        borderColor: presets.yellow,
        data: generateData(),
        hidden: true,
        label: 'D2',
        fill: 1
      }, {
        backgroundColor: utils.transparentize(presets.green),
        borderColor: presets.green,
        data: generateData(),
        label: 'AZUL4',
        fill: '-1'
      }, {
        backgroundColor: utils.transparentize(presets.blue),
        borderColor: presets.blue,
        data: generateData(),
        label: 'D4',
        fill: '-1'
      }]
    };

    var options = {
      maintainAspectRatio: false,
      spanGaps: false,
      elements: {
        line: {
          tension: 0
        }
      },
      scales: {
        yAxes: [{
          stacked: true
        }]
      },
      plugins: {
        filler: {
          propagate: true
        },
        'samples-filler-analyser': {
          target: 'chart-analyser'
        }
      },
      tooltips: {
        backgroundColor: "rgb(255,255,255)",
        bodyFontColor: "#858796",
        titleMarginBottom: 10,
        titleFontColor: '#6e707e',
        titleFontSize: 14,
        borderColor: '#dddfeb',
        borderWidth: 1,
        xPadding: 15,
        yPadding: 15,
        displayColors: false,
        intersect: false,
        mode: 'index',
        caretPadding: 10,
        callbacks: {
          label: function(tooltipItem, chart) {
            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
            return datasetLabel + ': R$ ' + tooltipItem.yLabel;
          }
        }
      }
    };

    var chart = new Chart('chart-0', {
      type: 'line',
      data: data,
      options: options
    });
  </script>
</body>
</html>
